<header ng-include="'templates/headerlogin.html'"></header>
<div class="container">
	<section id="content" class="frontMargin">
	    <h2>Make a post, to be awesome!</h2>	
	</section>

	<form ng-Submit="post()">
	    <h3>{{current_user}}, share stuff 2day!</h3>		
		<input type="text" ng-model="newPost.title" placeholder="Title">
		<input type="text" ng-model="newPost.desc" placeholder="Description">
		<input type="text" ng-model="newPost.tags" placeholder="#Tags">
		<input class="btn submit-btn pull-right" type="submit" value="#share" />                
    </form>

    <button ng-click="lol()">Push me for coords!</button>

</div>