<header ng-include="'templates/headerlogin.html'"></header>
<div class="container">
	<section id="content" class="frontMargin">
	    <h2>Hello! See the unique post!</h2>	
	</section>

    <div class="row">   
    <a class="btn btn-primary btn-block" href="/frontpage">Go back</a> 
        <div class="col-md-12">
            <!--<div class="post" style="background-image:url('data:{{photo.file.filetype}};base64,{{photo.file.base64}}')">-->
            <div class="post">
                <div class="description">                    
                    <p class="itemDescription">{{post.title}}</p>
                    <p>{{post.desc}}</p>
                    <p>{{post.tags}}</p>
                </div> 
                <div class="banner">
                    <div class="rating">
                        <p><span class="fa fa-thumbs-o-up thumbs"> 39</span><span class="fa fa-comment-o"> 3</span></p>
                    </div>
                    <div class="map">
                        <span class="fa fa-map-marker"></span>
                    </div>
                    <div class="date">
                        {{post.created_at | date}}
                    </div>
                    <div class="location">
                        <p><b>Location</b></p>
                        <p>Latitude: {{post.latitude}}</p>
                        <p>Longitude: {{post.longitude}}</p>
                    </div>
                </div>
            </div>               
        </div>
    </div>
    <div class="row">
    <ul ng-repeat="comment in comments">
        <li>{{comment.comment}}</li>
    </ul>
    </div>
    <div class="row">
        <form ng-submit="PostComment()">
            <input type="text" ng-model="newComment.comment" placeholder="Write a comment">
            <input type="submit" class="btn" value="Submit">
        </form>
    </div>  
</div>