<header ng-include="'templates/headerlogin.html'"></header>
<div class="container-fluid">
    <section id="profileBanner">
            <h1 class="profileHeader text-center">{{current_user.user.firstName}} {{current_user.user.lastName}}</h1>
            <div class="profileImage">
                <img class="img-circle img-responsive" alt="Kim Johansen" src="Images/KimJohansen.jpg" />
            </div>
            <h2 class="profileHeader text-center">@{{current_user.user.username}}</h2>
    </section>
</div>
<div class="container">
    <!-- <div class="row">
        <div class="col-md-12">
            <form name="form">
                <h3>Upload billede</h3>

                <div class="input-group">
                    <label for="file">Vælg billede</label>
                    <input type="text" ng-model="title" placeholder="TITEL">
                    <input type="text" ng-model="description" placeholder="BESKRIVELSE">
                    <input type="file" ng-model="file" name="file" base-sixty-four-input required maxsize="500" accept="image/*">
                    <span class="help-block">
                        <ul>
                            <li>Maksimum størrelse: 500kb</li>
                            <li>Filtype: image</li>
                        </ul>
                    </span>
                </div>
            </form>
            <b>Model Value:</b>
            <table class="table table-bordered table-striped">
              <tr>
                <th>Filnavn</th>
                <th>Filtype</th>
                <th>Fil størrelse (<i><small>KB</small></i>)</th>
                <th>base64</th>
              </tr>
              <tr ng-show="file">
                <td>{{file.filename}}</td>
                <td>{{file.filetype}}</td>
                <td>{{file.filesize / 1000}}</td>
                <td><b>{{file.base64.substring(0, 30)}}...</b></td>
              </tr>
              <tr>
                <td colspan="4" ng-show="!file">
                  <small><i>Ingen fil er valgt!</i></small>
                </td>
              </tr>
            </table>

            <button type="button" class="btn btn-default" ng-click="upload()"> Upload Billede</button>
            
            <hr>     
        </div>
    </div> -->
    <div class="row">    
        <div class="col-md-3 post" ng-repeat="photo in photos">
            <div class="post" style="background-image:url('data:{{photo.file.filetype}};base64,{{photo.file.base64}}')">
                <div class="description">                    
                    <p class="itemDescription">{{photo.title}}</p>
                </div> 
                <div class="banner">
                    <div class="rating">
                        <p><span class="fa fa-thumbs-o-up thumbs"> 39</span><span class="fa fa-comment-o"> 3</span></p>
                    </div>
                    <div class="map">
                        <span class="fa fa-map-marker"></span>
                    </div>
                    <div class="date">
                        {{photo.createdDate | date}}
                    </div>
                    <div class="location">
                        <p><b>Location</b></p>
                        <p>Latitude: {{myPosition.coords.latitude}}</p>
                        <p>Longitude: {{myPosition.coords.longitude}}</p>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>