<header>
    <nav class="navbar navbar-default navbar-fixed-top navPadding" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <h1 class="slogan hidden-xs">Connect with your friends on the new social platform</h1>
                <form class="nav navbar-nav navbar-right" ng-submit="login()" bsActiveLink>
                    <li><input type="text" ng-model="user.username" class="textBoxLogin" data-type="text" name="Username" aria-required="true" placeholder="Username" aria-label="Username" /></li>
                    <li><input type="password" ng-model="user.password" class="textBoxLogin" data-type="text" name="Password" aria-required="true" placeholder="Password" aria-label="Password" /></li>
                    <li><input type="submit" value="Log in" class="frontBtn buttonLogin"/>
                    </li>
               </form> 
            </div>
        </div>
    </nav>
</header>